/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
/* line 2, ../import/_import.scss */
.import_sample, .additional_import_paths_sample {
  background: #ddd;
}

/* line 12, ../scss/sample.scss */
.additional_import_paths_sample {
  width: 300px;
  height: 200px;
}

/* line 20, ../scss/sample.scss */
.http_path {
  background: url('http://classmethod.jp/images/ogp.png?1346380660');
}
